---
import info from "@/info.json";
import cld from "@/actions/_utils/cloudinary.client";
import { Resize } from "@cloudinary/url-gen/actions/resize";
import { Instagram } from "simple-icons-astro";
import { Button } from "@/components/ui/button";
import { Image } from "astro:assets";

const { carousel } = info.home.photography;
const images = carousel.map(c => ({
  ...c,
  url: cld
    .image(c.publicId)
    .resize(Resize.fill().aspectRatio(1).width("auto").gravity("auto:subject"))
    .toURL(),
}));
---

<section class="flex flex-col gap-12">
  <div>
    <h2 class="text-xl tracking-[0.5rem] uppercase">Photography</h2>
  </div>

  <div
    class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {
      images.map(im => (
        <div class="flex h-full flex-col items-center">
          <Image src={im.url} alt={im.caption} inferSize />
        </div>
      ))
    }
  </div>

  <div class="flex flex-col justify-center gap-4 md:flex-row">
    <div>
      <a href="/photography">
        <Button variant="outline"> See in portfolio </Button>
      </a>
    </div>
    <div>
      <a
        href="https://instagram.com/arockentothemoon"
        rel="noopener noreferrer"
        target="_blank"
      >
        <Button variant="outline">
          <Instagram />
          Instagram
        </Button>
      </a>
    </div>
  </div>
</section>
