---
import Dev from "./Dev.astro";
import Photography from "./Photography.astro";
import Vip from "./Vip.astro";
---

<div class="container py-12 flex flex-col text-center gap-36">
  <Photography />
  <Dev />
  <Vip />
</div>
