---
import info from "@/info.json";
import { buildCldUrl } from "@/utils/cloudinary";

const text = info.home.photography.text.normalize();

const { carousel } = info.home.photography;
const images = carousel.map(c => ({
  publicId: c,
  url: buildCldUrl(c),
}));
---

<section class="flex flex-col gap-12">
  <div>
    <h2 class="text-xl uppercase tracking-[0.5rem]">Photography</h2>
    <div class="container">
      <p>{text}</p>
    </div>
  </div>

  <div
    class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {images.map(im => (
      <div class="h-full flex items-center">
        <img src={im.url} alt={im.publicId} />
      </div>
    ))}
  </div>

  <div>
    <a href="/photography" class="btn btn-outline btn-accent btn-wide">
        See in portfolio
    </a>
  </div>
</section>
