.section-header {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

a {
  color: #9c27b0;
  text-decoration: none;
}

code {
  color: #9c27b0;
}

ol.reference {
  counter-reset: spp-counter;
  list-style: none;
}

ol.reference li {
  counter-increment: spp-counter;
}

ol.reference li::before {
  content: "[" counter(spp-counter) "]";
  margin-left: -2rem;
  margin-right: 1rem;
}

.math-container {
  overflow-x: auto;
}
