{% extends 'web/base.html.j2' %}

{% block body %}

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-2 pt-2 pb-4">
            <div class="nav flex-column nav-pills pl-md-2 pl-0 text-md-left text-center" role="tablist" aria-orientation="vertical" style="position: sticky; top: 100px;">
                <a href="{{ url('svip:index') }}" class="nav-link my-1 {{ 'active' if active_page == 'Video/Image Processing' or post.subject == 186 }}" role="tab">app physics 186</a>
            </div>
        </div>
        <div class="col-md-10 pr-md-5 px-0 ml-0">
            {% block blog %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}
