{% extends 'svip/base.html.j2' %}

{% block blog %}

<div class="row row-cols-1 row-cols-md-4">
    {% for post in post_list %}
        <div class="col">
            <div class="card mb-4 h-100">
                <div class="view overlay">
                    <img class="card-img-top cld-responsive" data-src="{{ post.cover }}" alt="{{ post.title }}" />
                    <a href="{{ url('svip:post', args=(post.slug,)) }}">
                        <div class="mask rgba-black-light"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ post.title }}</h4>
                </div>
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}
