{% extends 'svip/base.html.j2' %}

{% block sidenav %}
    {% for course in course_list %}
        <a href="{{ url('svip:subject', args=(course.slug,)) }}" class="nav-link my-1 {{ 'active' if active_page_slug == course.slug }}" role="tab">
            {{ course.name }}<br />
            <small>{{ course.title }}</small>
        </a>
    {% endfor %}
{% endblock %}


{% block blog %}

<link rel="stylesheet" href="{{ static('svip/css/post.css') }}" />
<link rel="stylesheet" href="{{ static('svip/css/MultiFigure.css') }}" />

<div class="container">
    <h1>{{ post.title }}</h1>
    <i class="far fa-clock mr-1 text-muted"></i>
    <p class="text-muted d-inline">
        {{ post.created }}
    </p>
    <p class="mt-5">
        {{ post.body }}
    </p>
</div>

<script src="{{ static('svip/js/MultiFigure.js') }}"></script>
<script src="{{ static('svip/js/' + post.slug + '.js') }}"></script>

{% endblock %}
