{% extends 'svip/base.html.j2' %}

{% block blog %}

<link rel="stylesheet" href="{{ static('svip/css/post.css') }}" />
<link rel="stylesheet" href="{{ static('svip/css/act4.css') }}" />

<div class="container">
    <h1>{{ post.title }}</h1>
    <i class="far fa-clock mr-1 text-muted"></i>
    <p class="text-muted d-inline">
        {{ post.created }}
    </p>
    <p class="mt-5">
        {{ post.body }}
    </p>
</div>

{% if post.slug == 'measuring-area' %}
    <script src="{{ static('svip/js/act4.js') }}"></script>
{% elif post.slug == 'enhance-histogram' %}
    <script src="{{ static('svip/js/act5.js') }}"></script>
{% elif post.slug == 'enhance-color' %}
    <script src="{{ static('svip/js/act6.js') }}"></script>
{% elif post.slug == 'image-segmentation' %}
    <script src="{{ static('svip/js/act7.js') }}"></script>
{% endif %}

{% endblock %}
