{% extends 'svip/base.html.j2' %}

{% block blog %}

<link rel="stylesheet" href="{{ static('svip/css/post.css') }}" />
{% if post.slug == 'measuring-area' %}
    <link rel="stylesheet" href="{{ static('svip/css/act4.css') }}" />
{% endif %}

<div class="container">
    <h1>{{ post.title }}</h1>
    <i class="far fa-clock mr-1 text-muted"></i>
    <p class="text-muted d-inline">
        {{ post.created.hour }}:{{ post.created.minute }}, {{ post.created.year }}-{{ post.created.month }}-{{ post.created.day }}
    </p>
    <p class="mt-5">
        {{ post.body }}
    </p>
</div>

{% if post.slug == 'measuring-area' %}
    <script src="{{ static('svip/js/act4.js') }}"></script>
{% endif %}

{% endblock %}
