{% extends 'svip/base.html.j2' %}

{% block head %}
    {% set meta_desc = "Portfolio & coursework on " + this_subject.name + " (" + this_subject.title + "): " + this_subject.description %}
    <meta name="keywords" content="{{ this_subject.description }}, applied physics, app physics, {{ this_subject.name }}, computational physics, kvdomingo, Kenneth V. Domingo" />
    <meta name="description" content="{{ meta_desc }}" />
    <meta property="og:title" content="{{ active_page }} | Kenneth V. Domingo" />
    <meta name="og:description" content="{{ meta_desc }}" />
    <meta name="twitter:description" content="{{ meta_desc }}" />
{% endblock %}

{% block sidenav %}
    {% for course in course_list %}
        <a href="{{ url('svip:subject', args=(course.slug,)) }}" class="nav-link my-1 {{ 'active' if active_page_slug == course.slug }}" role="tab">
            {{ course.name }}<br />
            <small>{{ course.title }}</small>
        </a>
    {% endfor %}
{% endblock %}

{% block blog %}

<link rel="stylesheet" href="{{ static('svip/css/index.css') }}" />

<div class="mb-4 px-3 px-md-0">
    <h1>{{ this_subject.name }}</h1>
    <h4>{{ this_subject.title }}</h4>
    <p>{{ this_subject.description }}</p>
</div>

<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
    {% for post in post_list %}
        <div class="col mb-4">
            <div class="card card-image card-cover h-100" style="background-image: url('{{ post.cover }}');">
                <div class="text-white text-center align-items-center h-100 rgba-black-strong py-5 px-4">
                    <div class="py-5 h-100">
                        <a class="card-title btn btn-outline-white my-5" href="{{ url('svip:post', args=(active_page_slug, post.slug)) }}">{{ post.title }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
