---
import Layout from "@/layouts/Layout.astro";
import Dev from "../components/home/whatIDo/Dev.astro";
import Photography from "../components/home/whatIDo/Photography.astro";
import Vip from "../components/home/whatIDo/Vip.astro";
---

<Layout title="KVD Studio">
  <main class="container flex flex-col gap-36 py-12 text-center">
    <Photography />
    <Dev />
    <Vip />
  </main>
</Layout>
