---
import Layout from "@/layouts/Layout.astro";
import { buildCldUrl } from "@/actions/_utils/cloudinary.client";

const { clientSlug, publicId } = Astro.params;

if (!publicId) {
  Astro.redirect("/404");
}
---

<Layout title="Photography | KVD Studio" spotlight={true}>
  <div class="flex h-screen items-center justify-center">
    <div class="absolute right-0 top-0 z-10 p-4">
      <a href={`/photography/clients/${clientSlug}`}>
        <button class="btn btn-circle btn-ghost text-md text-white">✕</button>
      </a>
    </div>

    <img
      src={buildCldUrl(publicId!)}
      alt={publicId}
      class="max-h-screen object-cover"
      transition:name={publicId}
    />
  </div>
</Layout>
