[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = "*"
django-filter = "*"
django-heroku = "*"
django-webpack-loader = "*"
djangorestframework = "*"
cloudinary = "*"
django-admin-relation-links = "*"
django-tinymce = "*"
gunicorn = "*"
jinja2 = "*"
python-dotenv = "*"
dj-database-url = "*"
django-seo-js = "*"

[requires]
python_version = "3.7"
