asgiref
certifi
chardet
cloudinary
dj-database-url
Django
django-admin-relation-links
django-cors-headers
django-filter
django-ordered-model
django-revproxy
django-seo-js
django-tinymce
djangorestframework
djangorestframework-camel-case
gunicorn
idna
Jinja2
MarkupSafe
psycopg2cffi
python-dotenv
pytz
requests
six
sqlparse
typing-extensions
urllib3
uvicorn[standard]
whitenoise
