asgiref
certifi
chardet
cloudinary
dj-database-url
Django
django-admin-relation-links
django-cors-headers
django-filter
django-ordered-model
django-seo-js
django-tinymce
djangorestframework
gunicorn
idna
Jinja2
MarkupSafe
psycopg2-binary
python-dotenv
pytz
requests
six
sqlparse
typing-extensions
urllib3
whitenoise
