---
import Dev from "./Dev.astro";
import Photography from "./Photography.astro";
import Vip from "./Vip.astro";
---

<div class="container flex flex-col gap-36 py-12 text-center">
  <Photography />
  <Dev />
  <Vip />
</div>
