body {
  margin: 0;
  font-family: "Rubik", "Inter", sans-serif;
  background: linear-gradient(
    to bottom,
    theme("colors.indigo.950"),
    theme("colors.slate.900")
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  color: #818cf8;
  font-family: "Inconsolata", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

.section-header {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

a[href] {
  color: #818cf8;
  text-decoration: none;
}

ol.reference {
  counter-reset: spp-counter;
  list-style: none;
}

ol.reference li {
  counter-increment: spp-counter;
}

ol.reference li::before {
  content: "[" counter(spp-counter) "]";
  margin-left: -2rem;
  margin-right: 1rem;
}

.math-container {
  overflow-x: auto;
}
