---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { format, compareDesc } from "date-fns";

const entries = await getCollection("blog");

entries.sort((a, b) => compareDesc(a.data.created, b.data.created));
---

<Layout title="Blog | KVD Studio">
  <div class="container text-center">
    <div class="flex flex-col gap-4 text-left">
      {
        entries.map(entry => (
          <a
            href={`/blog/${entry.slug}`}
            class="rounded-xl p-4 transition-[border] duration-100 hover:border hover:border-solid hover:border-white"
          >
            <div class="flex items-center gap-2">
              <h3>{entry.data.title}</h3>
              {entry.data.is_draft && (
                <span class="badge badge-neutral badge-lg">Draft</span>
              )}
            </div>
            <small class="text-ctp-subtext0">
              {format(new Date(entry.data.created), "MMMM dd, yyyy")}
            </small>
            <p>{entry.data.summary}</p>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
