---
import { Badge } from "@/components/ui/badge";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { NODE_ENV } from "astro:env/server";
import { format, compareDesc } from "date-fns";

const entries = (await getCollection("blog")).filter(entry =>
  NODE_ENV === "production" ? !entry.data.is_draft : true,
);

entries.sort((a, b) => compareDesc(a.data.created, b.data.created));
---

<Layout title="Blog | KVD Studio">
  <div class="container text-center">
    <div class="flex flex-col gap-2 text-left">
      {
        entries.map(entry => (
          <a href={`/blog/${entry.id}`}>
            <Card className="cursor-pointer hover:bg-card/70 transition-colors">
              <CardHeader>
                <CardTitle className="flex items-center gap-2">
                  {entry.data.title}
                  {entry.data.is_draft && (
                    <Badge variant="secondary">Draft</Badge>
                  )}
                </CardTitle>
                <CardDescription>
                  {format(new Date(entry.data.created), "MMMM dd, yyyy")}
                </CardDescription>
              </CardHeader>
              <CardContent>
                <p>{entry.data.summary}</p>
              </CardContent>
              <CardFooter>
                {entry.data.keywords.map(keyword => (
                  <Badge className="mr-1">{keyword}</Badge>
                ))}
              </CardFooter>
            </Card>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
