---
import TechStack from "./react/TechStack";
---

<div class="container py-12 text-center">
  <h2 class="section-header text-3xl text-white">How I do it</h2>
  <hr class="my-8" />

  <TechStack client:only="react" />
</div>
