---
import info from "@/info.json";
---

<div class="container py-12 text-center">
  <h2 class="section-header text-6xl text-white">How I do it</h2>
  <hr class="my-8" />

  {
    Object.entries(info.home.technologies).map(([header, technologies]) => (
      <div class="my-8">
        <div class="grid grid-cols-4 gap-12">
          <div class="flex place-content-end place-items-center border-r border-solid border-white pr-6 text-right">
            <h5 class="section-header text-2xl">{header}</h5>
          </div>
          <div class="col-span-3 my-auto grid grid-cols-6 gap-12">
            {technologies.map(tech => (
              <img src={tech.logo} alt={tech.name} class="my-auto" />
            ))}
          </div>
        </div>
      </div>
    ))
  }
</div>
