---
import Photography from "./Photography.astro";
---

<div class="container py-12 text-center">
  <h2 class="section-header text-6xl text-white">What I Do</h2>
  <hr class="my-8" />
  <Photography />
</div>
