---
import { Resize } from "@cloudinary/url-gen/actions/resize";
import info from "@/info.json";
import Layout from "@/layouts/Layout.astro";
import PhotographyLayout from "@/layouts/PhotographyLayout.astro";
import cld, { cld2 } from "@/utils/cloudinary";
import { DEFAULT_OPTIONS } from "@/server/utils/cloudinary";
import type { ResourceApiResponse } from "cloudinary";
import Masonry from "@/components/photography/react/Masonry";

export function getStaticPaths() {
  return info.photography.clients.map(({ slug }) => ({ params: { slug } }));
}

const { clientSlug } = Astro.params;

const title =
  info.photography.clients.find(client => client.slug === clientSlug)?.name ??
  "";

const body = (await cld2.api.resources({
  ...DEFAULT_OPTIONS,
  prefix: `kdphotography/portfolio/static/portfolio/media-private/clients/${clientSlug}`,
})) as ResourceApiResponse;

const { resources = [] } = body;

const images = resources
  .map(resource => ({
    ...resource,
    secure_url: cld
      .image(resource.public_id)
      .resize(Resize.scale().width("auto"))
      .toURL(),
  }))
  .sort((a, b) => b.created_at.localeCompare(a.created_at));
---

<Layout title={`${title} | Clients | KVD Studio`}>
  <PhotographyLayout>
    <div class="breadcrumbs px-6">
      <ul>
        <li>
          <a href="/photography/clients"> Clients</a>
        </li>
        <li>{title}</li>
      </ul>
    </div>

    <div class="w-full px-4">
      <Masonry images={images} client:only="react" />
    </div>
  </PhotographyLayout>
</Layout>
