@import "tailwindcss";
@import "tw-animate-css";
@config "tailwind.config.ts";
@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --background: 220 23.08% 94.9%;
    --foreground: 233.79 16.02% 35.49%;
    --card: 0 0% 100%;
    --card-foreground: 233.79 16.02% 35.49%;
    --popover: 222.86 15.91% 82.75%;
    --popover-foreground: 233.79 16.02% 35.49%;
    --primary: 266.04 85.05% 58.04%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222.86 15.91% 82.75%;
    --secondary-foreground: 233.79 16.02% 35.49%;
    --muted: 220 20.69% 88.63%;
    --muted-foreground: 232.8 10.37% 47.25%;
    --accent: 197.07 96.57% 45.69%;
    --accent-foreground: 0 0% 100%;
    --destructive: 347.08 86.67% 44.12%;
    --destructive-foreground: 0 0% 100%;
    --border: 225 13.56% 76.86%;
    --input: 222.86 15.91% 82.75%;
    --ring: 266.04 85.05% 58.04%;
    --chart-1: 266.04 85.05% 58.04%;
    --chart-2: 197.07 96.57% 45.69%;
    --chart-3: 109.23 57.64% 39.8%;
    --chart-4: 21.98 99.18% 51.96%;
    --chart-5: 10.8 58.82% 66.67%;
    --sidebar: 220 21.95% 91.96%;
    --sidebar-foreground: 233.79 16.02% 35.49%;
    --sidebar-primary: 266.04 85.05% 58.04%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 197.07 96.57% 45.69%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 225 13.56% 76.86%;
    --sidebar-ring: 266.04 85.05% 58.04%;
    --radius: 0.35rem;
    --shadow-2xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
    --shadow-xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
    --shadow-sm:
      0px 4px 6px 0px hsl(240 30% 25% / 0.12),
      0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow:
      0px 4px 6px 0px hsl(240 30% 25% / 0.12),
      0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow-md:
      0px 4px 6px 0px hsl(240 30% 25% / 0.12),
      0px 2px 4px -1px hsl(240 30% 25% / 0.12);
    --shadow-lg:
      0px 4px 6px 0px hsl(240 30% 25% / 0.12),
      0px 4px 6px -1px hsl(240 30% 25% / 0.12);
    --shadow-xl:
      0px 4px 6px 0px hsl(240 30% 25% / 0.12),
      0px 8px 10px -1px hsl(240 30% 25% / 0.12);
    --shadow-2xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.3);
  }

  .dark {
    --background: 240 21.31% 11.96%;
    --foreground: 226.15 63.93% 88.04%;
    --card: 240 21.05% 14.9%;
    --card-foreground: 226.15 63.93% 88.04%;
    --popover: 234.29 13.21% 31.18%;
    --popover-foreground: 226.15 63.93% 88.04%;
    --primary: 267.41 83.51% 80.98%;
    --primary-foreground: 240 21.05% 14.9%;
    --secondary: 232.5 12% 39.22%;
    --secondary-foreground: 226.15 63.93% 88.04%;
    --muted: 230.53 18.81% 19.8%;
    --muted-foreground: 227.65 23.61% 71.76%;
    --accent: 189.18 71.01% 72.94%;
    --accent-foreground: 240 21.05% 14.9%;
    --destructive: 343.27 81.25% 74.9%;
    --destructive-foreground: 240 21.05% 14.9%;
    --border: 236.84 16.24% 22.94%;
    --input: 236.84 16.24% 22.94%;
    --ring: 267.41 83.51% 80.98%;
    --chart-1: 267.41 83.51% 80.98%;
    --chart-2: 189.18 71.01% 72.94%;
    --chart-3: 115.45 54.1% 76.08%;
    --chart-4: 22.96 92% 75.49%;
    --chart-5: 9.6 55.56% 91.18%;
    --sidebar: 240 22.73% 8.63%;
    --sidebar-foreground: 226.15 63.93% 88.04%;
    --sidebar-primary: 267.41 83.51% 80.98%;
    --sidebar-primary-foreground: 240 21.05% 14.9%;
    --sidebar-accent: 189.18 71.01% 72.94%;
    --sidebar-accent-foreground: 240 21.05% 14.9%;
    --sidebar-border: 234.29 13.21% 31.18%;
    --sidebar-ring: 267.41 83.51% 80.98%;
    --radius: 0.35rem;
    --shadow-2xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
    --shadow-xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
    --shadow-sm:
      0px 4px 6px 0px hsl(240 30% 25% / 0.12),
      0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow:
      0px 4px 6px 0px hsl(240 30% 25% / 0.12),
      0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow-md:
      0px 4px 6px 0px hsl(240 30% 25% / 0.12),
      0px 2px 4px -1px hsl(240 30% 25% / 0.12);
    --shadow-lg:
      0px 4px 6px 0px hsl(240 30% 25% / 0.12),
      0px 4px 6px -1px hsl(240 30% 25% / 0.12);
    --shadow-xl:
      0px 4px 6px 0px hsl(240 30% 25% / 0.12),
      0px 8px 10px -1px hsl(240 30% 25% / 0.12);
    --shadow-2xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.3);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h6 {
  font-size: theme("fontSize.md");
}

h5 {
  font-size: theme("fontSize.lg");
}

h4 {
  font-size: theme("fontSize.xl");
}

h3 {
  font-size: theme("fontSize.2xl");
}

h2 {
  font-size: theme("fontSize.3xl");
}

h1 {
  font-size: theme("fontSize.4xl");
}

small {
  font-size: theme("fontSize.sm");
}

ol.reference {
  counter-reset: spp-counter;
  list-style-type: none;
  list-style-position: inside;
}

ol.reference li {
  counter-increment: spp-counter;
  display: flex;
}

ol.reference li::before {
  content: "[" counter(spp-counter) "]";
  margin-left: -2rem;
  margin-right: 1rem;
}

mjx-container[jax="SVG"] > svg a {
  fill: var("--primary") !important;
  stroke: var("--primary") !important;
}

.figcaption p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: theme("gap.1");
}

.figure {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: theme("gap.4");
  width: 100%;

  @media screen and (min-width: theme("screens.md")) {
    width: 50%;
  }
}

blockquote {
  border-color: var(--primary-foreground);
  border-left-width: 4px;
  border-left-style: solid;
  padding: 1rem;
  border-radius: 0.25rem;
}

code {
  font-variant-ligatures: no-common-ligatures;
}

pre {
  padding: 1rem;
  border-radius: 0.5rem;
  font-variant-ligatures: no-common-ligatures;
}
