@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "studio";
  default: true;
  prefersdark: true;
  color-scheme: dark;

  --color-primary: #818cf8;
  --color-secondary: #1fb2a6;
  --color-accent: #ffffff;
  --color-neutral: #2a323c;
  --color-base-100: #321e81;
  --color-base-200: #1e1b4b;
  --color-info: #3abff8;
  --color-success: #36d399;
  --color-warning: #fbbd23;
  --color-error: #f87272;
}

body {
  color: var(--color-ctp-text);
  margin: 0;
  padding: 0;
  font-family: "Figtree Variable", "Rubik Variable", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6 {
  font-size: var(--text-base);
}
h5 {
  font-size: var(--text-lg);
}
h4 {
  font-size: var(--text-xl);
}
h3 {
  font-size: var(--text-2xl);
}
h2 {
  font-size: var(--text-3xl);
}
h1 {
  font-size: var(--text-4xl);
}

small {
  font-size: var(--text-sm);
}

code {
  color: var(--color-ctp-mauve);
  font-family:
    "Inconsolata", "Space Mono", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

.section-header {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

a[href] {
  color: var(--color-ctp-mauve);
  text-decoration: none;
}

ol.reference {
  counter-reset: spp-counter;
  list-style: none;
}

ol.reference li {
  counter-increment: spp-counter;
}

ol.reference li::before {
  content: "[" counter(spp-counter) "]";
  margin-left: -2rem;
  margin-right: 1rem;
}

.math-container {
  overflow-x: auto;
}

mjx-container[jax="SVG"] > svg a {
  fill: var(--color-indigo-400);
  stroke: var(--color-indigo-400);
}
