---
import type { CollectionEntry } from "astro:content";
import ProjectItem from "./ProjectItem.astro";

interface Props {
  projects: CollectionEntry<"dev">[];
  status: "live" | "in progress" | "archived";
}

const { projects, status } = Astro.props;
---

<div class="mb-12">
  <h2 class="mb-4 text-2xl capitalize">{status}</h2>
  <div class="flex flex-col">
    {projects.map(project => <ProjectItem project={project} />)}
  </div>
</div>
