<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <link rel="shortcut icon" href="{{ static('web/media/private/favicon.png') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/js/mdb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.8.2/cloudinary-core.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ static('photography/css/lightbox.min.css') }}" />
    <script src="{{ static('photography/js/lightbox.min.js') }}"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


    <link rel="stylesheet" href="{{ static('web/css/base.css') }}" />
    <script src="{{ static('web/js/base.js') }}"></script>
    <script src="{{ static('photography/js/base.js') }}"></script>
    <script src="{{ static('svip/js/base.js') }}"></script>

    <title>{{ active_page }} | Kenneth V. Domingo</title>

    {% if settings.DEBUG %}
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    {% else %}
        <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    {% endif %}

    {% if not settings.DEBUG and settings.ON_HEROKU %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162676656-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-162676656-2');
        </script>
        <meta name="description" content="Portfolio and CV of Kenneth V. Domingo" />
        <meta property="og:title" content="Kenneth V. Domingo" />
        <meta property="og:url" content="https://kvdomingo.xyz" />
        <meta name="og:description" content="Portfolio and CV of Kenneth V. Domingo" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="en_PH" />
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:creator" content="@rockentothemoon" />
        <meta property="twitter:site" content="@rockentothemoon" />
        <meta name="twitter:image:alt" content="Kenneth V. Domingo" />
        <meta name="twitter:description" content="Portfolio and CV of Kenneth V. Domingo" />
    {% endif %}
</head>

<body>

    <nav class="navbar navbar-expand-lg px-5 py-3 mb-4 {{ 'fixed-top navbar-dark' if active_page == 'Home' else 'sticky-top navbar-light' }}" style="box-shadow: none; transition: background 0.5s; {{ "background: rgba(255, 255, 255, 0.90)" if active_page != 'Home' }}">
        <a class="navbar-brand" href="{{ url('web:index') }}">
            {% if active_page == 'Home' %}
                <img src="{{ static('web/media/private/logo-white.png') }}" height="30" />
            {% else %}
                <img src="{{ static('web/media/private/logo-black.png') }}" height="30" />
            {% endif %}
        </a>
        <div class="overlay"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('web:index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('web:cv') }}">CV</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="nav-portfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="nav-portfolio" style="background-color: rgba(255, 255, 255, 0.8);">
                        <a class="dropdown-item" href="{{ url('photography:index') }}">Photography</a>
                        <a class="dropdown-item" href="{{ url('svip:index') }}">Video/Image Processing</a>
                        <a class="dropdown-item disabled" href="#">Web Development</a>
                        <a class="dropdown-item disabled" href="#">App Development</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="nav-blur"></div>
    </nav>

    {% block body %}{% endblock %}

    <footer class="page-footer grey darken-5 pt-5">
        <div class="container-fluid text-center py-4">
            <h1 class="display-5"><a href="{{ url('web:index') }}"><img src="{{ static('web/media/private/logo-white.png') }}" height="30" /></a></h1>
            <a href="mailto:kennethd353@gmail.com">kennethd353@gmail.com</a><br />
            <div class="my-3">
                <h4 style="display: inline;"><a class="mx-2" href="https://m.me/arockentothemoon" target="_blank"><i class="fab fa-facebook-messenger"></i></a></h4>
                <h4 style="display: inline;"><a class="mx-2" href="https://facebook.com/arockentothemoon" target="_blank"><i class="fab fa-facebook-square"></i></a></h4>
                <h4 style="display: inline;"><a class="mx-2" href="https://twitter.com/rockentothemoon" target="_blank"><i class="fab fa-twitter-square"></i></a></h4>
                <h4 style="display: inline;"><a class="mx-2" href="https://linkedin.com/kvdomingo" target="_blank"><i class="fab fa-linkedin"></i></a></h4>
                <h4 style="display: inline;"><a class="mx-2" href="https://github.com/kvdomingo" target="_blank"><i class="fab fa-github"></i></a></h4>
            </div>
        </div>
        <div class="footer-copyright text-center py-4">
            &copy; {{ now.year }} <a href="mailto:kennethd353@gmail.com">Kenneth V. Domingo</a>
        </div>
    </footer>

</body>
</html>
