{% extends 'web/base.html.j2' %}

{% block head %}
    {% set meta_desc = 'Curriculum Vitae (CV) of Kenneth V. Domingo including educational attainment, work experience, and projects' %}
    <meta name="keywords" content="Kenneth V. Domingo, Kenneth Domingo Photography, curriculum vitae, Python, photography, physics, applied physics, kvdomingo" />
    <meta name="description" content="{{ meta_desc }}" />
    <meta name="og:description" content="{{ meta_desc }}" />
    <meta name="twitter:description" content="{{ meta_desc }}" />
{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ static('web/css/cv.css') }}" />

<div class="container px-md-5 pb-4" id="cv"></div>

<script src="{{ static('web/js/TimelineElements.js') }}"></script>
<script src="{{ static('web/js/TimelineSection.js') }}"></script>
<script src="{{ static('web/js/cvData.js') }}"></script>
<script src="{{ static('web/js/cv.js') }}"></script>

{% endblock %}
