{% extends 'web/base.html.j2' %}

{% block head %}
    {% set meta_desc = 'Curriculum Vitae (CV) of Kenneth V. Domingo including educational attainment, work experience, and projects' %}
    <meta name="keywords" content="Kenneth V. Domingo, Kenneth Domingo Photography, curriculum vitae, Python, photography, physics, applied physics, kvdomingo" />
    <meta name="description" content="{{ meta_desc }}" />
    <meta name="og:description" content="{{ meta_desc }}" />
    <meta name="twitter:description" content="{{ meta_desc }}" />
{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ static('web/css/cv.css') }}" />

<div class="container px-md-5 pb-4">
    <h1 class="h2-responsive py-4"><i class="fas fa-graduation-cap mr-3"></i>Education</h1>
    <div class="container px-md-5" id="education"></div>

    <h1 class="h2-responsive py-4"><i class="fas fa-briefcase mr-3"></i>Work Experience</h1>
    <div class="container px-md-5" id="work"></div>

    <h1 class="h2-responsive py-4"><i class="fas fa-project-diagram mr-3"></i>Projects</h1>
    <div class="container px-md-5" id="projects"></div>
</div>

<script src="{{ static('web/js/TimelineElement.js') }}"></script>
<script src="{{ static('web/js/cv.js') }}"></script>

{% endblock %}
