{% extends 'web/base.html.j2' %}

{% block head %}
    {% set meta_desc = 'CV and Portfolio of Kenneth V. Domingo including photography, relevant coursework, and web and app development' %}
    <meta name="keywords" content="Kenneth V. Domingo, Kenneth Domingo Photography, Python, photography, physics, applied physics, kvdomingo" />
    <meta name="description" content="{{ meta_desc }}" />
    <meta name="og:description" content="{{ meta_desc }}" />
    <meta name="twitter:description" content="{{ meta_desc }}" />
{% endblock %}


{% block body %}

<link rel="stylesheet" href="{{ static('web/css/index.css') }}"/>
<style>
    .cover-photo-src {
        background-image: url("https://res.cloudinary.com/kdphotography-assets/image/upload/v1/kdphotography/portfolio/static/portfolio/media-private/latest/20180713_1.jpg");
    }
</style>

<div class="card card-image cover-photo cover-photo-src">
    <div class="text-white rgba-black-strong h-100 py-5 px-4">
        <div class="container py-5" data-aos="fade-up">
            <h2 class="h1 card-title display-4 my-4 py-2">Hi, I'm Kenneth!</h2>
            <p class="lead my-3">
                Physicist, programmer, and bioinformatician by day; photographer and musician by night.
            </p>
            <p class="my-3 py-3">
                I am a graduating BS Applied Physics student from the University of the Philippines-Diliman. For my undergraduate thesis, I joined the Instrumentation Physics Laboratory, with a research concentration on signal, video and image processing. Python is my programming language of choice for general applications. Additionally, my skillset includes web and app development, primarily using Python and React Native frameworks, respectively. Currently, I am also a photographer and the Executive Officer for Promotions and Documentation of UP Iris, a campus-wide photography organization.<br /><br />

                Inquiries? Collaborations?
            </p>
            <a class="btn btn-outline-white ml-0" href="{{ url('web:cv') }}">CV</a>
            <a class="btn btn-outline-white" href="mailto:hello@kvdomingo.xyz">Contact</a>
        </div>
    </div>
</div>

<div class="container-fluid py-5 bg-dark text-white">
    <div class="container py-5" data-aos="fade-up">
        <h1 class="h1-responsive text-center">What I do</h1>
        <hr class="grey darken-1 mt-4 mb-5" />
        <div class="row">
            <div class="col-md-4 my-auto">
                <h3 class="h2-responsive mb-3">Photography</h3>
                <p class="mb-3">
                    I started out photography in the summer of 2017, equipped with only my phone and a vision. I got my first SLR camera in the same year, and since then, my passion has only grown. Today, I continue to draw inspiration and learnings from established photographers, both foreign and local, in order to hone my own craft. I specialize in portrait, live music, and events photography&mdash;though I don't mind venturing into other fields every once in a while.
                </p>
                <a class="btn btn-outline-white" href="{{ url('photography:index') }}">See portfolio</a>
            </div>
            <div class="col-md-8 text-center">
                <div class="bg-dark main-carousel"></div>
            </div>
        </div>
    </div>

    <div class="container py-5" data-aos="fade-up">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col text-center mb-4 mb-md-0">
                <div class="juxtapose">
                    <img src="https://res.cloudinary.com/kdphotography-assets/image/upload/c_scale,w_500/v1/svip/186/7-ImageSegment/cancer.jpg" />
                    <img src="https://res.cloudinary.com/kdphotography-assets/image/upload/c_scale,w_500/v1/svip/186/7-ImageSegment/cancer_otsu.png" />
                </div>
            </div>
            <div class="col text-md-right my-auto">
                <h3 class="h2-responsive mb-3">Video/Image Processing</h3>
                <p class="mb-3">
                    I joined the Instrumentation Physics Laboratory in 2017 under the Video &amp; Image Processing subgroup. My research was initially on blood spatter analysis (BPA). Due to limited equipment, I was tasked to find a way to extract useful information from possibly incomplete measurements. This led me to the field of compressive sensing (CS), which is now my main field of research. In this endeavor, I utilize various technologies such as established signal processing techniques, as well as more contemporary machine learning and artificial intelligence approaches.
                </p>
                <a class="btn btn-outline-white" href="{{ url('svip:index') }}">See portfolio</a>
            </div>
        </div>
    </div>

    <div class="container py-5" data-aos="fade-up">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col my-auto">
                <h3 class="h2-responsive mb-3">Full-Stack Development</h3>
                <p class="mb-3">
                    It was in high school that I was first introduced to basic programming concepts in C, and basic web design with HTML &amp; CSS. Although I hardly used these for anything useful afterwards, they would eventually serve as catalysts for me to study more advanced web development and design concepts later on. In 2019, I took some free online classes offered by Harvard's CS50, which stimulated me to study more beyond what the classes offered. Eventually, I learned to handle most, if not the entire web development workflow. I primarily use Python for the backend and React.js for the frontend.
                </p>
                <a class="btn btn-outline-white" href="{{ url('dev:index') }}">See portfolio</a>
            </div>
            <div class="col my-auto">
                <div class="console">
                    <div class="console-bar px-2">
                        <div class="console-bar-red"></div>
                        <div class="console-bar-yellow"></div>
                        <div class="console-bar-green"></div>
                        <div class="console-bar-title text-center pl-2">
                            <a href="https://primerdriver.herokuapp.com" target="_blank">
                                primerdriver/pdcli.py
                            </a>
                        </div>
                    </div>
                    <div class="console-body py-4 px-3">
                        <div class="code-command text-left">
                            <span></span>
                            <code>
                                python pdcli.py -M char -s read.fasta -m sub -t C -p 21 -r G
                            </code>
                        </div>
                        <pre>
                            <samp class="code-response">
|                  | Primer 1                                                                      |
|------------------+-------------------------------------------------------------------------------|
| Forward          | CGATCGTACGGACGCAGCTCGTAGCTACGATCGATCGATCGATCGTACGTACGTACGATCGTACGATCGATCGTACG |
| Reverse          | CGTACGATCGATCGTACGATCGTACGTACGTACGATCGATCGATCGATCGTAGCTACGAGCTGCGTCCGTACGATCG |
| Fwd length       | 77 bp                                                                         |
| Rev length       | 77 bp                                                                         |
| Fwd GC content   | 54.55%                                                                        |
| Rev GC content   | 54.55%                                                                        |
| Fwd melting temp | 94.76 C                                                                       |
| Rev melting temp | 94.76 C                                                                       |
| Fwd mol. weight  | 10083.12 g/mol                                                                |
| Rev mol. weight  | 10074.11 g/mol                                                                |
| Fwd mismatch     | 27.27%                                                                        |
| Rev mismatch     | 27.27%                                                                        |
| Fwd ends in G/C  | True                                                                          |
| Rev ends in G/C  | True                                                                          |
                            </samp>
                        </pre>
                        <div class="code-command">
                            <code></code>
                            <span class="cursor"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container py-5" data-aos="fade-up">
        <h2 class="h1-responsive text-center ">How I do it</h2>
        <hr class="mt-4 mb-5" />
        <div class="row row-cols-lg-6 row-cols-md-4 row-cols-2 my-5">
            {% set img_urls = [
                ('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/1920px-Python_logo_and_wordmark.svg.png', 'Python'),
                ('https://upload.wikimedia.org/wikipedia/commons/7/75/Django_logo.svg', 'Django'),
                ('https://seeklogo.com/images/F/flask-logo-44C507ABB7-seeklogo.com.png', 'Flask'),
                ('https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Plotly-logo-01-square.png/1200px-Plotly-logo-01-square.png', 'Plot.ly'),
                ('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Keras_logo.svg/768px-Keras_logo.svg.png', 'Keras'),
                ('https://upload.wikimedia.org/wikipedia/commons/2/2d/Tensorflow_logo.svg', 'TensorFlow'),
                ('https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/768px-HTML5_logo_and_wordmark.svg.png', 'HTML'),
                ('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/544px-CSS3_logo_and_wordmark.svg.png', 'CSS'),
                ('https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1024px-Unofficial_JavaScript_logo_2.svg.png', 'JavaScript'),
                ('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/885px-Node.js_logo.svg.png', 'Node.js'),
                ('https://upload.wikimedia.org/wikipedia/commons/f/fd/JQuery-Logo.svg', 'jQuery'),
                ('https://cdn.worldvectorlogo.com/logos/react.svg', 'React.js/React Native'),
                ('https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/768px-Vue.js_Logo_2.svg.png', 'Vue.js'),
                ('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Mapbox_logo_2017.svg/768px-Mapbox_logo_2017.svg.png', 'Mapbox'),
                ('https://git-scm.herokuapp.com/images/logos/downloads/Git-Logo-2Color.png', 'Git'),
                ('https://cdn.freebiesupply.com/logos/large/2x/codecov-logo-png-transparent.png', 'Codecov'),
                ('https://upload.wikimedia.org/wikipedia/commons/8/89/Logo_di_Heroku.png', 'Heroku'),
                ('https://d3r49iyjzglexf.cloudfront.net/circleci-logo-stacked-fb-657e221fda1646a7e652c09c9fbfb2b0feb5d710089bb4d8e8c759d37a832694.png', 'CircleCI'),
                ('https://www.docker.com/sites/default/files/d8/styles/role_icon/public/2019-07/horizontal-logo-monochromatic-white.png', 'Docker'),
                ('https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/1067px-PHP-logo.svg.png', 'PHP'),
                ('https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/810px-Postgresql_elephant.svg.png', 'PostgreSQL'),
                ('https://opencollective-production.s3-us-west-1.amazonaws.com/d83d7230-076f-11e8-ade1-411cb407edb2.png', 'Percy'),
                ('https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Arduino_Logo.svg/1080px-Arduino_Logo.svg.png', 'Arduino'),
                ('https://www.raspberrypi.org/app/uploads/2011/10/Raspi-PGB001-300x267.png', 'Raspberry Pi'),
            ] %}
            {% for image, alt in img_urls %}
                <div class="col my-auto pb-4" data-aos="fade-up">
                    <img src="{{ image }}" class="img-fluid" alt="{{ alt }}" />
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="{{ static('web/js/CarouselFiller.js') }}"></script>
<script src="{{ static('web/js/index.js') }}"></script>

{% endblock %}
