---
import Layout from "@/layouts/Layout.astro";
import Dev from "../components/home/whatIDo/Dev.astro";
import Photography from "../components/home/whatIDo/Photography.astro";
import Vip from "../components/home/whatIDo/Vip.astro";
---

<Layout title="KVD Studio">
  <main class="container py-12 flex flex-col text-center gap-36">
    <Photography />
    <Dev />
    <Vip />
  </main>
</Layout>
