---
const TABS = [
  { path: "", label: "latest" },
  { path: "/live", label: "live" },
  { path: "/portraits", label: "portraits" },
  { path: "/clients", label: "clients" },
  { path: "/samoetikerffa", label: "#samoetikerffa" },
];

const { pathname } = Astro.url;
---

<ul class="menu menu-lg items-end">
  {
    TABS.map(tab => (
      <li>
        <a
          class:list={[{ active: pathname === `/photography${tab.path}` }]}
          href={`/photography${tab.path}`}
        >
          {tab.label}
        </a>
      </li>
    ))
  }
</ul>
