@mixin autoprefix($key, $value, $prefixes: ms webkit moz o) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$key}: $value;
    }
    $key: $value;
}

@font-face {
    font-family: 'GeoNMS';
    src: local('GeosansLight-NMS'), url("../fonts/geonms-font.ttf") format('truetype');
}

body {
    font-family: 'Rubik', 'GeoNMS', sans-serif !important;
}

html {
    @media (min-width: 576px) {
        font-size: 1em;
    }

    @media (min-width: 768px) {
        font-size: 1.05em
    }

    @media (min-width: 992px) {
        font-size: 1.1em
    }
}

/* @media screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        margin-top: 0;
    }

    .dropdown-toggle {
        margin-bottom: 2px;
    }

    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle {
        margin-bottom: 0;
    }
} */

.navbar-slick {
    box-shadow: none;
    transition: background 300ms, padding 300ms;
}

.navbar-slick-brand {
    transition: height 300ms, opacity 300ms;
}

.page {
    position: absolute;
}

.page-enter {
    opacity: 0;
    transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
