---
import Layout from "@/layouts/Layout.astro";
import PhotographyLayout from "@/layouts/PhotographyLayout.astro";
import info from "@/info.json";
import { buildCldUrl } from "@/actions/_utils/cloudinary.client";
import { Image } from "astro:assets";

const { clients } = info.photography;
---

<Layout title="Clients | KVD Studio">
  <PhotographyLayout>
    <div class="grid grid-cols-1 gap-4 px-6 lg:grid-cols-3 xl:grid-cols-4">
      {
        clients.map(client => (
          <div class="card image-full aspect-square w-full shadow-lg">
            <figure>
              <Image
                src={buildCldUrl(client.cover)}
                alt={client.name}
                inferSize
              />
            </figure>
            <a href={`clients/${client.slug}`}>
              <h2>{client.name}</h2>
            </a>
          </div>
        ))
      }
    </div>
  </PhotographyLayout>
</Layout>
