---
import info from "@/info.json";
---

<div class="my-24 grid gap-8 md:grid-cols-5 md:gap-36">
  <div class="col-span-2 mx-auto my-auto">
    <a
      href="https://www.credential.net/0300e26a-fcdc-40db-a4a0-689fad65ac9b"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        src="https://storage.googleapis.com/kvdomingo-xyz-306716-assets/gcp-pca_badge.png"
        alt="Google Cloud Certified Professional Cloud Architect"
        width="66.67%"
        class="mx-auto"
      />
    </a>
  </div>
  <div
    class="col-span-3 my-auto flex flex-col items-start gap-8 text-left md:items-end md:text-right"
  >
    <h3 class="text-xl uppercase tracking-[0.5rem]">Software Engineering</h3>
    <p>{info.home.dev.text}</p>
    <a href="/dev" class="btn btn-accent btn-outline">See in portfolio</a>
  </div>
</div>
