---
import info from "@/info.json";
import BeforeAfter from "./react/BeforeAfter";
---

<div class="my-8 grid grid-cols-5 gap-36">
  <div class="col-span-2 my-auto flex flex-col items-start gap-8 text-left">
    <h3 class="text-3xl uppercase tracking-[0.5rem]">
      Video & Image Processing
    </h3>
    <p>{info.home.vip.text}</p>
    <a href="/svip" class="btn btn-outline btn-accent">See in portfolio</a>
  </div>

  <div class="col-span-3 my-auto">
    <BeforeAfter client:only="react" />
  </div>
</div>
