---
import Photography from "./Photography.astro";
import Dev from "./Dev.astro";
import Vip from "./Vip.astro";
---

<div class="container py-12 text-center">
  <h2 class="section-header text-3xl text-white">What I Do</h2>
  <hr class="my-8" />
  <Photography />
  <Dev />
  <Vip />
</div>
