@font-face {
  font-family: "GeoNMS";
  src: url("https://storage.googleapis.com/kvdomingo-xyz-306716-assets/geonms-font.ttf") format("truetype");
}

body {
  font-family: "Rubik", "GeoNMS", sans-serif;
}

@media (min-width: 576px) {
  body {
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1.05em;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 1.1em;
  }
}
