---
import cld from "@/actions/_utils/cloudinary.client";
import { Resize } from "@cloudinary/url-gen/actions";
import { Button } from "@/components/ui/button";

const LIGHT_LOGO = cld
  .image("logo/logo-white")
  .resize(Resize.scale().width("auto"))
  .toURL();

const NAV_LINKS = [
  { path: "/cv", label: "CV" },
  { path: "/photography", label: "Photography" },
  { path: "/dev", label: "Software" },
  { path: "/svip", label: "Signal Processing" },
  { path: "/blog", label: "Blog" },
];
---

<header class="z-10 w-full">
  <nav class="flex items-center px-12">
    <div class="flex flex-auto items-center">
      <a href="/">
        <img
          src={LIGHT_LOGO}
          alt="logo"
          class="my-2 h-14 w-auto opacity-1 transition-all duration-300 ease-in-out"
        />
      </a>
    </div>

    <div
      class="hidden flex-auto items-center justify-end gap-4 tracking-widest md:visible md:flex"
    >
      {
        NAV_LINKS.map(nav => (
          <a href={nav.path}>
            <Button variant="ghost" className="uppercase">
              {nav.label}
            </Button>
          </a>
        ))
      }
    </div>
  </nav>
</header>
