{% extends 'web/base.html.j2' %}

{% block body %}

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-2 pt-2 pb-4 px-md-4">
            <div class="nav flex-column nav-pills pl-md-2 pl-0 text-md-left text-center" role="tablist" aria-orientation="vertical" style="position: sticky; top: 100px;">
                <a href="{{ url('photography:index') }}" class="nav-link my-1 {{ 'active' if active_page == 'Photography' }}" role="tab">latest</a>
                <a href="{{ url('photography:gallery', args=('portraits',)) }}" class="nav-link my-1 {{ 'active' if active_page == 'Portraits' }}" role="tab">portraits</a>
                <a href="{{ url('photography:gallery', args=('live',)) }}" class="nav-link my-1 {{ 'active' if active_page == 'Live' }}" role="tab">live</a>
                <a href="{{ url('photography:clients') }}" class="nav-link my-1 {{ 'active' if active_page == 'Clients' }}" role="tab">clients</a>
                <a href="{{ url('photography:gallery', args=('samoetikerffa',)) }}" class="nav-link my-1 {{ 'active' if active_page == 'Samoetikerffa' }}" role="tab">#samoetikerffa</a>
            </div>
        </div>
        <div class="col-md-10 pr-md-5">
            {% block gallery %}{% endblock %}
        </div>
    </div>
</div>

<script src="{{ static('photography/js/index.js') }}"></script>

{% endblock %}
