{% extends 'photography/base.html.j2' %}

{% block gallery %}

<link rel="stylesheet" href="{{ static('photography/css/index.css') }}" />

<div class="grid">
    <div class="grid-sizer"></div>
    {% for im, imfull in images %}
        <div class="grid-item {{ 'grid-item--width2' if im.width > im.height }} px-md-3 px-0 py-2 ml-0">
            <a class="col my-auto" href="{{ imfull }}" data-lightbox="horizontals">
                <img data-src="{{ im.url }}" class="cld-responsive cld-shadow w-100 ml-0 img-fluid" />
            </a>
        </div>
    {% endfor %}
</div>

<script src="{{ static('photography/js/index.js') }}"></script>

{% endblock %}
