{% extends 'web/base.html.j2' %}

{% block body %}

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-2 pt-2 pb-4">
            <div class="nav flex-column nav-pills pl-md-2 pl-0 text-md-left text-center" role="tablist" aria-orientation="vertical" style="position: sticky; top: 100px;">
                {% block sidenav %}{% endblock %}
            </div>
        </div>
        <div class="col-md-10 px-md-3 px-0 ml-0">
            {% block blog %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}
