{% extends 'dev/base.html.j2' %}

{% block head %}
    {% set meta_desc = 'Portfolio of Kenneth V. Domingo with relevant work on web development and software development' %}
    <meta name="keywords" content="web development, app development, software development, full stack development, blog, dev diaries, kvdomingo, Kenneth V. Domingo" />
    <meta name="description" content="{{ meta_desc }}" />
    <meta name="og:description" content="{{ meta_desc }}" />
    <meta name="twitter:description" content="{{ meta_desc }}" />
{% endblock %}

{% block blog %}

<link rel="stylesheet" href="{{ static('dev/css/index.css') }}" />
<script src="{{ static('dev/js/index.js') }}"></script>

{% for project in projects %}
    <div class="mb-4">
        <div class="card card-image card-cover h-100" style="background-image: url('{{ project.cover_photo }}')">
            <div class="text-white text-center align-items-center h-100 rgba-black-strong py-5 px-4">
                <div class="h-100 py-5">
                    <a class="card-title btn btn-outline-white my-3" href="{{ url('dev:project', args=(project.slug,)) }}">
                        {{ project.title }}
                    </a>
                    <p class="card-text">
                        {{ project.summary }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}
