---
import info from "@/info.json";
import * as SimpleIcons from "simple-icons-astro";
import { Badge } from "../ui/badge";

interface Props {
  name: string;
}

const { name } = Astro.props;

const { technologies } = info.dev;

const si = Object(SimpleIcons);

let Icon = null;

let obj: { label: string; icon: string; color: string } | null = null;

let iconExists = false;

if (Object.keys(technologies).includes(name)) {
  obj = technologies[name];

  if (Object.keys(si).includes(obj.icon)) {
    Icon = si[obj.icon];
    iconExists = true;
  }
}
---

{
  (
    <div
      class:list={[
        "mr-2 mb-2",
        {
          "flex gap-1": iconExists,
        },
      ]}
    >
      <Badge variant="outline" className="flex gap-2 items-center">
        {iconExists && <Icon color={obj?.color} size="1rem" />}
        {obj?.label.toLowerCase() ?? name}
      </Badge>
    </div>
  )
}
